* {
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: darkorange;
}

.nav-bar {
    border: 1px solid black;
    border-radius: 35px;
    text-align: center;
    background-color: lightgrey;
    max-width: fit-content;
    margin-top: 0;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-bar li {
    display: inline;
    padding-inline-start: 30px;
    text-align: center;
}

.nav-bar li a {
    text-decoration: none;
}

.nav-bar li a:hover {
    color: yellow;
    text-decoration: underline;
    font-size: 1.5em;
    transition: 0.5s;
    box-shadow: 0 0 100px orange;
}

.nav-bar .selected {
    color: yellow;
}

.Title {
    padding-right: 100px;
    font-size: 2em;
}

.row {
    display: flex;
    gap: 5px;
    position: relative;
}

.row .column img {
    max-width: 400px;
    max-height: 256px;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 10px;
}

.row .column img:hover {
    transform: scale(0.9);
    transition: .5s;
    box-shadow: 0 0 400px yellow;
}

.thermal, .cathedral, .trail-txt, .ski {
    display: flex;
    position: absolute;
    top: 61.5%;
    text-align: center;
    max-width: 20%;
    border-top: 1px solid black;
    background-color: yellow;
    color: black;
    margin-left: 19px;
    border-radius: 5px;
    padding: 5px;
}

.bucket-list {
    background-color: yellow;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.bucket-list h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.bucket-list iframe {
    padding-left: 20px;
    padding-bottom: 10px;
}

.map2 {
    margin-right: 10px;
}

.contact-box {
    width: 500px;
    background-color: #fff;
    box-shadow: #777;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50px;
    margin-top: 40px;
}

form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #777;
    border-radius: 30px;
    outline: none;
    line-height: 40px;
}

.btn {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    border-radius: 30px;
}

.btn:hover {
    background: orange;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px orange;
}

.button:focus {
    width: 3rem;
    height: 3rem;
}

.map img {
    float:inherit;
    opacity: 50%;
    width: 500px;
    border-radius: 50px;
}

.map2 {
    float: right;
}

.newsletter {
    background-color: yellow;
    padding: 5px 10px;
    margin-top: 50px;
    border-radius: 10px;
    max-width: fit-content;
}

.input {
    border: 2px solid #777;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
}

.subscribe {
    width: 430px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #777;
    transition: 0.5s;
}

.subscribe:hover {
    background: orange;
    letter-spacing: 0.25em;
    box-shadow: 0px 0px 35px orange!important;
}

.saint-martin {
   
    max-height: 500px;
    max-width: 500px;
    text-align: center;
    padding-bottom: 7.5px;
    display: flex;
}

.row2 {
    display: flex;
    max-width: 1500px;
    padding-bottom: 10px;
}

.row2 .column2 img {
    max-width: 400px;
    max-height: 256px;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 10px;
}

.row2 .column2:hover {
    transform: scale(0.9);
    transition: .5s;
    box-shadow: 0 0 400px yellow;
}

.row2 .column2 {
    background-color: yellow;
    border-radius: 10px;
    text-align: center;
    
}

.row2 .column2 a:link {
    text-decoration: none;
}




